</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/javascripts/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/javascripts/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/javascripts/raphael.min.js"></script>
<script src="/javascripts/morris.min.js"></script>
<script src="/javascripts/morris-data.js"></script>
 
<!-- Custom Theme JavaScript -->
<script src="../javascripts/startmin.js"></script>
<!-- DataTables JavaScript -->
<script src="/javascripts/dataTables/jquery.dataTables.min.js"></script>
<script src="/javascripts/dataTables/dataTables.bootstrap.min.js"></script>
 


</body>
</html>